<li>
  <select name="secret[tag_ids][]">
    <option value="">Choose Tag</option>
    <% Tag.all.each do |tag| %>
      <option value="<%= tag.id %>"><%= tag.name %></option>
    <% end %>
  </select>
</li>